@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

body {
  background-color: #B0BEC5 ;
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important; 
}

.container-fluid{
  padding: 50px;
}

/*.big{
  font-size: 25px;
}*/

div.MathJax_Display{
   text-align: left !important;
}

.dark {
  color: black;
}

.light {
  color: white;
}

.title {
  text-align: center;
  margin-top: 15%;
}

.subtitle {
  margin-top: 20%;
  text-align: center;
}

.sg{
  color: #328983;
  text-shadow: 2px 2px 14px #949494;
}

.sg-dark{
  color: black;
  text-shadow: 2px 2px 14px #24C96B;
}

/*.emph{
  font-size: 30px;
}*/

a:hover{
  color: black;
}

.scrolly-container{
  position: relative;
}

.scrolly-graph {
  margin-left: 40px;
  width: 60%;
  position: sticky;
  position: -webkit-sticky;
  padding-right: 50px;
  padding-top: 5%;
  top: 10px;
  float: right;
}

.scrolly-sections {
  width: 40%;
  padding-left:100px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.scrolly-section {
  margin-bottom: 200px;
  font-size:1rem;
}

.scrolly-sections .scrolly-section:last-child {
  margin-bottom: 10vh;
}

.graph-scroll-active {
  /*opacity: 1;*/
}



a:link {
    background: #B0BEC5;
    color: darkred;
    font-size: large;
    font-family: roboto;
}

a:visited {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size: large;
}

p {
  font-size: 1.6rem;
}

h1 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size: 4rem;
    text-align: center;
}

h2 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size: 3rem;
    font-face: bold;
}

h4 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size: 2rem;
    text-align: left;
}

h5 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-size:1.25rem;
}

h6 {
    background: #B0BEC5;
    color: black;
    font-family: roboto;
    font-style: italic;
}

code {
    font-family: Monaco, monospace;
    font-size: 1.5rem;
    background-color:rgba(176, 190, 197, .5);
    color: black;
    padding: 0.2rem;
    border-radius: 5px;
}
		
/*img.toplogo {
    width: 4em;
    vertical-align: middle;
}

img.arrow {
    width: 30px;
    height: 30px;
    border: 0;
}*/

img {
  font-size:10px !important;
  padding:2%;
  
}

span.acronym {
    font-size: small;
}

span.env {
    font-family: roboto;
}

span.file {
    font-family: roboto;
}

span.option{
    font-family: roboto;
}

span.pkg {
    font-weight: bold;
}

span.samp{
    font-family: roboto;
}

div.vignettes a:hover {
    background: rgb(85%, 85%, 85%);
}
